<p>footer works!</p>

<div class="pie">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h2>Contacto</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui repellendus magni dolor modi optio sequi quam similique ratione, corporis sit natus sed at? Sit corrupti accusantium sed, culpa nesciunt non.</p>
            </div>
            <div class="col-md-4">Redes Sociales</div>
            <div class="col-md-4">Sobre mi</div>
        </div>
    </div>
        
    
</div>